server:
  port: 8081
spring:
  cloud:
    gateway:
      routes:
        - id: client-service
          uri: http://client-service:8081
          predicates:
            - Path=/api/clients/**
          filters:
            - StripPrefix=1
            - RequestRateLimiter=10, 10,
        - id: account-service
          uri: http://account-service:8081
          predicates:
            - Path=/api/accounts/**
          filters:
            - StripPrefix=1
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods: "*"
            allowedHeaders: "*"